<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD_MDS.Properties.Settings.BD_MDSConnectionString"
            connectionString="Data Source=ANURBANO\BD_ANURBANO;Initial Catalog=BD_MDS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>